html,
body {
  height: 100%;
}

#root {
  background: linear-gradient(#4d5377, #11163a);
  min-height: 100%;
}

.App {
  text-align: center;
  padding: 30px 15px 100px;
}

h1 {
  color: white;
}

p.detail {
  margin: 15px 0;
}

small {
  color: grey;
}

.cross-delete {
  color: rgb(197, 19, 19);
  cursor: pointer;
}

.App .fab-btn-add {
  z-index: 10;
  position: fixed;
  bottom: 30px;
  right: 30px;
  outline: none;
}

form .MuiInputBase-root {
  background: white;
  width: 100%;
}

form .MuiFormControl-root {
  margin: 10px 0;
  display: block;
}

form .btn-submit {
  margin-top: 15px;
  width: 100%;
}

.list-group {
  margin-top: 15px;
}

.list-group-item {
  text-align: left;
  padding: 0 15px;
  background: white;
  display: flex;
  height: 100%;
  line-height: 50px;
  border-bottom: 1px solid grey;
}

.list-group-item > span {
  width: 25%;
  text-align: center;
}

.list-group-item.icons {
  line-height: inherit;
  padding: 10px 15px;
  background: #6ba2c1;
  color: #2d5573;
}

.MuiIcon-root {
  vertical-align: middle;
}

.expansion-detail {
  width: 100%;
  font-size: 23px !important;
}

.expansion-detail .material-icons {
  display: block;
  margin: 0 auto 10px;
}

.MuiChip-root.plus {
  margin-left: 8px;
  color: white;
  background-color: #e03434;
}

.MuiChip-root.moins {
  margin-left: 8px;
  color: white;
  background-color: #42a242;
}

.relevePanel {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.8;
}

.relevePanel.Mui-expanded {
  opacity: 1;
}

.MuiExpansionPanelSummary-root .date {
  text-transform: uppercase;
  font-weight: bold;
}

.MuiExpansionPanelSummary-root .total {
  margin-left: 15px;
}
